/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (21.9.2007)
   * Website:   http://code.google.com/p/blueprintcss/
   See Readme file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';
@import 'lib/forms.css';

/* Plugins:
   Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Example:
   @import 'plugins/buttons/buttons.css'; */
   
/* See the grid:
   Uncomment the line below to see the grid and baseline.
   .container { background: url(lib/grid.png); } */
