/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (Date TBD)
   * Website:   http://code.google.com/p/blueprintcss/
      
   This is the main CSS-file for the framework.
   Include this in the <head> of every page. See the
   Readme.txt file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';

/* Compressed version:
   Replace the lines above with this when your site is live:
   (Remember to duplicate any changes you've done to the core files.)
   @import 'compressed/screen.css'; */

/* Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Examples:
   @import 'plugins/buttons/buttons.css';
   @import 'plugins/fancy-type/fancy-type-compressed.css'; */
   
/* Uncomment the line below to see the grid and baseline.
   .container { background: url(lib/grid.png); } */
